@{
    ViewBag.Title = "www.mitechdev.com";
}
<h2>Jquery DataTables in ASP.NET MVC5</h2>
<!--Add Jquery Datatable reference files-->
<link rel="stylesheet" href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" />
<div style="width:90%;">
    <table id="Jdatatable" class="table table-responsive table-bordered">
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Company Working</th>
                <th>Email ID</th>
                <th>Phone Number</th>
                <th>City</th>
                <th>Salary</th>
                <th>State</th>
            </tr>
        </thead>
    </table>
</div>
@section scripts{
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#Jdatatable").DataTable({
                "ajax": {
                    "url": "/Home/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                            { "data": "Name", "autoWidth": true },
                            { "data": "CompanyName", "autoWidth": true },
                            { "data": "EmailID", "autoWidth": true },
                            { "data": "Phone", "autoWidth": true },
                            { "data": "City", "autoWidth": true },
                            { "data": "Salary", "autoWidth": true },
                            { "data": "State", "autoWidth": true }
                ]
            });
        });
    </script>
}